
Simulacion/.idea/

Simulacion/target/

.idea/

*.png

*.avi

Visualizacion/static_input.txt

Visualizacion/dynamic_output.xyz

Visualizacion/evolucion_distribucion.csv

Simulacion/dynamic_input.txt

Simulacion/dynamic_output.txt

Simulacion/static_input.txt

Visualizacion/dynamic_output.txt

Simulacion/evolucion_distribucion.csv

Visualizacion/evolucion_distribucion2.csv

Visualizacion/evolucion_distribucion3.csv

Visualizacion/evolucion_distribucion4.csv
